In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

url = 'https://galaxyfacts-mars.com/'
browser.visit(url)
html = browser.html
mars_soup = soup(html, 'html.parser')

In [4]:
mars = mars_soup.find('table', class_='table table-striped')

for x in mars:
    print(x.text)

Equatorial Diameter:
6,792 km


Polar Diameter:
6,752 km


Mass:
	6.39 × 10^23 kg (0.11 Earths)


Moons:
	2 ( Phobos  &  Deimos )


Orbit Distance:
	227,943,824 km (1.38 AU)


Orbit Period:
	687 days (1.9 years)


Surface Temperature:
	-87 to -5 °C


First Record:
	2nd millennium BC


Recorded By:
	Egyptian astronomers

In [17]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless = False)

url = 'https://galaxyfacts-mars.com/'
browser.visit(url)
html = browser.html
html_soup = soup(html, 'html.parser')

In [19]:
table = html_soup.find('table', class_='table-striped')
print(table)

<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [10]:
mars_facts = {}
rows = table.find_all('tr')
for row in rows:
    row_heading = row.find('th').text
    row_data = row.find('td').text.strip()
    mars_facts[row_heading] = row_data

In [11]:
print(mars_facts)

{'Equatorial Diameter:': '6,792 km', 'Polar Diameter:': '6,752 km', 'Mass:': '6.39 × 10^23 kg (0.11 Earths)', 'Moons:': '2 ( Phobos  &  Deimos )', 'Orbit Distance:': '227,943,824 km (1.38 AU)', 'Orbit Period:': '687 days (1.9 years)', 'Surface Temperature:': '-87 to -5 °C', 'First Record:': '2nd millennium BC', 'Recorded By:': 'Egyptian astronomers'}

In [12]:
browser.quit()

In [13]:
# scrape a table with pandas
import pandas as pd

df = pd.read_html('https://galaxyfacts-mars.com')
df

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
mars_df = df[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [15]:
# rename columns
mars_df.columns=['description', 'Mars', 'Earth']

In [16]:
# remove first row bc it's redundant with column headings
mars_df = mars_df.iloc[1:]
mars_df

          description             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
slide_elem = titles_soup.select_one('div.list_text')
# Extract all the text elements
title_elem = titles_soup.find_all('div', class_='content_title')
summary_elem = titles_soup.find_all('div', class_='article_teaser_body')

for title in title_elem:
    for summary in summary_elem:
        print('-----------------------------------------')
        print('title: '+ title.text + ' preview: ' + summary.text)

NameError: name 'titles_soup' is not defined